auth_enabled: false

server:
  http_listen_port: 3100
  grpc_listen_port: 9096

common:
  instance_addr: 127.0.0.1
  path_prefix: /loki
  replication_factor: 1
  ring:
    kvstore:
      store: inmemory

schema_config:
  configs:
    - from: 2024-01-01
      store: tsdb
      object_store: s3
      schema: v13
      index:
        prefix: index_
        period: 24h

storage_config:
  tsdb_shipper:
    active_index_directory: /loki/tsdb-index
    cache_location: /loki/tsdb-cache
  aws:
    endpoint: minio:9000
    bucketnames: loki-data
    access_key_id: minio
    secret_access_key: minio123
    s3forcepathstyle: true
    insecure: true

limits_config:
  reject_old_samples: true
  reject_old_samples_max_age: 168h
  ingestion_rate_mb: 16
  ingestion_burst_size_mb: 32
  max_query_series: 10000

ruler:
  alertmanager_url: http://localhost:9093
  storage:
    type: s3
    s3:
      endpoint: minio:9000
      bucketnames: loki-ruler
      access_key_id: minio
      secret_access_key: minio123
      s3forcepathstyle: true
      insecure: true

analytics:
  reporting_enabled: false
