server:
  http_listen_port: 3200

distributor:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317
        http:
          endpoint: 0.0.0.0:4318

ingester:
  max_block_duration: 5m

compactor:
  compaction:
    block_retention: 48h

storage:
  trace:
    backend: s3
    s3:
      endpoint: minio:9000
      bucket: tempo-data
      access_key: minio
      secret_key: minio123
      insecure: true
      forcepathstyle: true
    wal:
      path: /var/tempo/wal
    local:
      path: /var/tempo/blocks

metrics_generator:
  registry:
    external_labels:
      source: tempo
      cluster: local
  storage:
    path: /var/tempo/generator/wal
    remote_write:
      - url: http://victoriametrics:8428/api/v1/write
        send_exemplars: true
  traces_storage:
    path: /var/tempo/generator/traces
  processor:
    span_metrics:
      dimensions:
        - service.name
        - http.method
        - http.status_code
    service_graphs:
      dimensions:
        - service.name

overrides:
  defaults:
    metrics_generator:
      processors: [service-graphs, span-metrics]

querier:
  search:
    external_hedge_requests_at: 8s
    external_hedge_requests_up_to: 2

query_frontend:
  search:
    concurrent_jobs: 1000
    target_bytes_per_job: 104857600
