server:
  http_listen_port: 3200

distributor:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317
        http:
          endpoint: 0.0.0.0:4318

ingester:
  max_block_duration: 5m

compactor:
  compaction:
    block_retention: 48h

storage:
  trace:
    backend: s3
    s3:
      endpoint: minio:9000
      bucket: tempo-data
      access_key: minio
      secret_key: minio123
      insecure: true
      forcepathstyle: true
    wal:
      path: /var/tempo/wal
    local:
      path: /var/tempo/blocks

metrics_generator:
  registry:
    external_labels:
      source: tempo
      cluster: local
  storage:
    path: /var/tempo/generator/wal
    remote_write:
      - url: http://victoriametrics:8428/api/v1/write
        send_exemplars: true
  traces_storage:
    path: /var/tempo/generator/traces
  processor:
    span_metrics:
      dimensions:
        - service.name
        - http.method
        - http.status_code
        - http.route
        - http.target
      enable_target_info: true
      histogram_buckets: [0.002, 0.004, 0.008, 0.016, 0.032, 0.064, 0.128, 0.256, 0.512, 1.024, 2.048, 4.096, 8.192, 16.384]
    service_graphs:
      dimensions:
        - service.name
      enable_client_server_prefix: true
    local_blocks:
      max_live_traces: 100000

overrides:
  metrics_generator_processors: [service-graphs, span-metrics, local-blocks]

querier:
  search:
    external_hedge_requests_at: 8s
    external_hedge_requests_up_to: 2

query_frontend:
  search:
    concurrent_jobs: 1000
    target_bytes_per_job: 104857600
