adminUser: admin
adminPassword: admin

persistence:
  enabled: true
  size: 1Gi
  storageClassName: hostpath

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: VictoriaMetrics
        type: prometheus
        uid: prometheus
        access: proxy
        url: http://vmselect-vm-victoria-metrics-k8s-stack.observability.svc.cluster.local:8481/select/0/prometheus
        isDefault: true
        jsonData:
          timeInterval: 30s

      - name: Loki
        type: loki
        uid: loki
        access: proxy
        url: http://loki-loki-distributed-gateway.observability.svc.cluster.local
        jsonData:
          derivedFields:
            - datasourceUid: tempo
              matcherRegex: '"traceId":"(\w+)"'
              name: TraceID
              url: '$${__value.raw}'

      - name: Tempo
        type: tempo
        uid: tempo
        access: proxy
        url: http://tempo-query-frontend.observability.svc.cluster.local:3100
        jsonData:
          tracesToLogsV2:
            datasourceUid: loki
            tags: ['job', 'instance', 'pod', 'namespace']
          tracesToMetrics:
            datasourceUid: prometheus
          serviceMap:
            datasourceUid: prometheus
          nodeGraph:
            enabled: true
          lokiSearch:
            datasourceUid: loki

# Enable useful features
grafana.ini:
  feature_toggles:
    enable: traceqlEditor tempoSearch tempoBackendSearch traceToMetrics metricsSummary
  auth.anonymous:
    enabled: true
    org_role: Admin
