mode: deployment
replicaCount: 1

image:
  repository: otel/opentelemetry-collector-contrib

serviceAccount:
  create: true
  name: otel-gateway

config:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: ${env:MY_POD_IP}:4317
        http:
          endpoint: ${env:MY_POD_IP}:4318

  processors:
    batch:
      timeout: 5s
      send_batch_size: 1000
    memory_limiter:
      check_interval: 5s
      limit_percentage: 80
      spike_limit_percentage: 25
    resource:
      attributes:
        - key: cluster
          value: production
          action: upsert

  exporters:
    # Traces to Tempo
    otlp/tempo:
      endpoint: tempo-distributor.observability.svc.cluster.local:4317
      tls:
        insecure: true

    # Metrics to VictoriaMetrics
    prometheusremotewrite:
      endpoint: http://vminsert-vm-victoria-metrics-k8s-stack.observability.svc.cluster.local:8480/insert/0/prometheus/api/v1/write

    debug:
      verbosity: basic

  service:
    pipelines:
      traces:
        receivers: [otlp]
        processors: [memory_limiter, resource, batch]
        exporters: [otlp/tempo, debug]
      metrics:
        receivers: [otlp]
        processors: [memory_limiter, resource, batch]
        exporters: [prometheusremotewrite, debug]
