# Promtail values
config:
  clients:
    - url: http://loki-gateway.observability.svc.cluster.local/loki/api/v1/push
  snippets:
    pipelineStages:
      - docker: {}
      - static_labels:
          source: promtail

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 256Mi

serviceAccount:
  create: true
  name: promtail
