apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker-service
  namespace: applications
  labels:
    app: worker-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: worker-service
  template:
    metadata:
      labels:
        app: worker-service
    spec:
      containers:
        - name: worker-service
          image: utkarsh17ife/java-otel-worker-svc:latest
          ports:
            - containerPort: 8081
          env:
            - name: OTEL_SERVICE_NAME
              value: "worker-service"
            - name: OTEL_EXPORTER_OTLP_ENDPOINT
              value: "http://otel-gateway-opentelemetry-collector.observability.svc.cluster.local:4317"
            - name: OTEL_EXPORTER_OTLP_PROTOCOL
              value: "grpc"
            - name: OTEL_METRICS_EXPORTER
              value: "otlp"
            - name: OTEL_LOGS_EXPORTER
              value: "otlp"
            - name: OTEL_TRACES_EXPORTER
              value: "otlp"
            - name: JAVA_TOOL_OPTIONS
              value: "-javaagent:/app/opentelemetry-javaagent.jar"
          resources:
            requests:
              memory: "256Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "500m"
---
apiVersion: v1
kind: Service
metadata:
  name: worker-service
  namespace: applications
  labels:
    app: worker-service
spec:
  selector:
    app: worker-service
  ports:
    - port: 8081
      targetPort: 8081
      protocol: TCP
  type: ClusterIP
